.sorting {
  display: flex;
  align-items: center;

  &-title {
    opacity: 0.7;
  }

  &-type {
    display: flex;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
    width: 220px;

    .icon {
      border: 6px solid transparent;
      border-top: 8px solid #f65261;
      margin: 5px 0 0 5px;
    }
  }
}

.menu-item {
  font-size: 16px;
  color: #000;
  cursor: pointer;
}
