@import '../colors';

.filters {
  display: flex;
  height: 40px;
  align-items: center;
  text-transform: uppercase;

  li {
    list-style: none;
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &:hover {
      color: $secondaryColor;
    }
  }

  .active {
    text-decoration: underline;
    text-decoration-color: $secondaryColor;
  }
}
