@import '../../../colors';

.menu-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50%;
  border-radius: 5px;
  background-color: $backgroundColor;

  ul {
    margin-top: 30px;

    li {
      list-style: none;
      padding: 8px;
      margin: 7px 0;

      &:hover {
        background-color: $secondaryColor;
      }
    }
  }

  .close {
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 5px;
    padding: 5px;

    &:hover {
      opacity: 0.7;
    }

    &:before,
    &:after {
      position: absolute;
      content: ' ';
      height: 14px;
      width: 2px;
      background-color: $thirdBackgroundColor;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}
